.add-music-sheet {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    height: 100%;
    .name-input {
        display: block;
        height: 30px;
        width: 100%;
        padding: 0 20px;
        line-height: 30px;
        background: transparent;
        border: none;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        &:focus {
            outline: none;
            border-bottom: 1px solid #fff;
            color: #fff;
        }
    }
    .drag-container {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding-bottom: 20px;
        font-size: 30px;
        color: rgba(255, 255, 255, .3);
        &:hover {
            color: lightgreen;
        }
        .icon {
            margin-right: 10px;
        }
        .file-list {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            .img-file-one {
                margin: 10px;
                position: relative;
                cursor: move;
                h5 {
                    margin: 0;
                    height: 20px;
                    line-height: 20px;
                    font-size: 14px;
                    color: rgba(255, 255, 255, .5);
                }
                img {
                    width: 100px;
                    height: 150px;
                }
                .close-icon {
                    position: absolute;
                    display: none;
                    top: 0px;
                    right: 0px;
                    font-size: 16px;
                    color: #fff;
                    cursor: pointer;
                }
                &:hover {
                    .close-icon {
                        display: block;
                    }
                }
            }
        }
        .add-to-store {
            position: absolute;
            right: 5px;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: lightgreen;
            color: #fff;
            padding: 15px;
            font-size: 20px;
            border-radius: 50%;
            .icon {
                margin: 0;
            }
        }
    }
    .file-list {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        .img-file-one {
            margin: 10px;
            position: relative;
            cursor: move;
            h5 {
                margin: 0;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
            }
            img {
                width: 200px;
                height: 300px;
            }
            .close-icon {
                position: absolute;
                display: none;
                top: 0px;
                right: 0px;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
            }
            &:hover {
                .close-icon {
                    display: block;
                }
            }
        }
    }
}
